body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0e8e8;
}

.pageContainer {
  background-color: #f0e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: #f6f2f2;
  padding: 20px;
  border-radius: 8px;
  width: 97.9%;
}

.navbar__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.navbar__menuButton {
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: #745a7a;
  color: white;
  cursor: pointer;
  align-self: center;
}

.navbar__name {
  color: #745a7a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}

.navbar__dropdown {
  background-color: #f6f2f2;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

.navbar__button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: #745a7a;
  color: white;
  cursor: pointer;
}

.navbar__menuContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading {
  color: #4c3f58;
  font-size: 24px;
  margin-bottom: 16px;
}

.chartContainer {
  max-width: 500px;
  margin-top: 20px;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.data-table {
  border-collapse: collapse;
  width: 60%;
}

.data-table th,
.data-table td {
  border: 1px solid #745a7a;
  padding: 8px;
}

.data-table th {
  background-color: #745a7a;
  color: white;
  border-collapse: collapse;
  width: 60%;
}

.tableContainer h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.chartsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.chartContainer {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #888888;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.tableContainer table {
  width: 60%;
}

.tableContainer th,
.tableContainer td {
  border: 1px solid #745a7a;
  padding: 8px;
  text-align: center;
}

.tableContainer th {
  background-color: #745a7a;
  color: white;
}
